This is an asynchronous retrospective for <%= release %>. It's private to the
<%= team %> team, plus anyone else that worked with the team during
<%= release %>. This retrospective will be following the process described at
https://about.gitlab.com/handbook/engineering/management/team-retrospectives/

Please feel free to honestly describe your thoughts and feelings about working
on that release below.

(If there is something you are not comfortable sharing, message
<%= team_info['managers'] %> directly. But note that 'Emotions are not only
allowed in retrospectives, they should be encouraged', so we'd love to hear from
you here if possible.)

## Issues we shipped

<% deliverables.each do |issue| %>
* [<%= issue['title'] %>](<%= issue['web_url'] %>)
<% end %>
* [More issues] - this only includes deliverables!

## [Issues that slipped]

<% slipped.each do |issue| %>
* [<%= issue['title'] %>](<%= issue['web_url'] %>)
<% end %>
<% if slipped.empty? %>
No missed deliverables found; great job!
<% end %>
<% if follow_up.any? %>

## [Open follow-up issues from previous retros]

<% follow_up.each do |issue| %>
* [<%= issue['title'] %>](<%= issue['web_url'] %>)
<% end %>
<% end %>

[More issues]: https://gitlab.com/groups/gitlab-org/-/issues?state=closed&label_name[]=<%= team_info['label'] %>&milestone_title=<%= release %>
[Issues that slipped]: https://gitlab.com/groups/gitlab-org/-/issues?state=closed&label_name[]=<%= team_info['label'] %>&label_name[]=missed%3A<%= release %>
[Open follow-up issues from previous retros]: https://gitlab.com/gl-retrospectives/<%= team_info['project'] %>/issues?label_name%5B%5D=follow-up

/label ~retrospective
/due <%= due_date %>
/assign @<%= team_info['owner'] %>
